html, 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans 3", sans-serif;
    color: black;
}

/* GRID LAYOUT */

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "head"
        "main"
        "foot";
}

.site-header {
    grid-area: head;
}

.site-footer {
    grid-area: foot;
}

main {
    grid-area: main;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "blogmain"
        "blogs";
}

.blog-main {
    grid-area: blogmain;
}

.blog-container {
    grid-area: blogs;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
    .blog-main-text {
        width: 75%;
    }
    
    .blog-main h2 {
        font-size: 1.75em;
    }

    .blogs-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "blog1" "blog2"
            "blog3" "blog4"
            "blog5" "blog6";
    }
}

@media (min-width: 1024px) {
    .blog-main-text {
        width: 50%;
    }

    .blog-main h2 {
        font-size: 2em;
    }

    .blogs-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "blog1" "blog2" "blog3"
            "blog4" "blog5" "blog6";
    }
}

/* LAYOUTS */

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 0.25em 0.5em;
}

.site-header ul { 
    font-family: inherit;
    display: flex;
    justify-content: space-between;
    gap: 5em;
    list-style: none;
    font-size: 0.65rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: 1.5em;
    text-transform: uppercase;
}

.blog-main {
    background-image: url("/images/laptop-screen-code.jpg");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    padding: 0.5em 0;
    background-repeat: no-repeat;
    background-color: black;
}

.blog-post-main {
    text-decoration: none;
}

.blog-main-text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0.5em 0.75em;
    text-shadow: 2px 5px 10px red;
    width: 90%;
}

article {
    margin-top: 1em;
}

section {
    margin: 2em;
}

.show-more-btn {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    font-size: 1rem;
    font-weight: 600;
    margin: 0 auto;
    padding: 0.5em 1em;
    display: block;
}

footer {
    background-color: black;
    text-align: center;
    padding: 1.5em 1em;
}

/* TYPOGRAPHY */

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
    border-radius: 0.5em;
}

h2 {
    font-size: 1.25rem;
    padding: 0.25em 0;
    margin: 0;
}

h3 {
    color: #505050;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1;
    padding: 0.25em 0;
    margin: 0;
}

h4 {
    font-size: 0.75rem;
    font-weight: 700;
    color: white;
    padding: 0;
    margin: 0;
}

h4.footer-copyright {
    font-weight: 300;
}

.blog-main h2,
.blog-main h3,
.blog-main p {
    color: white;
}

.date {
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

h2.header-home,
h2.header-about-me {
    font-size: 0.5rem;
}

.journal-name {
    font-family: "Roboto", sans-serif;
    font-size: 0.75rem;
}

.header-right {
    font-size: 0.35rem;
    font-weight: 700;
    gap: 0.5em;
    text-transform: uppercase;
}

/* PSEUDO-CLASSES */

.site-header li:hover,
.site-header li:focus,
.blog-item:hover,
.blog-item:focus,
.show-more-btn:hover,
.show-more-btn:focus {
    text-decoration: underline;
    cursor: pointer;
}

.site-header li:hover,
.site-header li:focus {
    font-weight: 900;
    text-shadow: lightblue 2px 2px 10px;
}

.blog-item:hover,
.blog-item:focus {
    opacity: 90%;
}